body {
    font-family: 'Poppins', sans-serif;
    padding: 90px;

    
}
.navbar{
    min-height: 90px;
}

.carousel-item{
    height: 40rem;
    
}

.texto-medio{
    
    line-height: 57.6px;
    text-align: start;
}